<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Main City01.png</string>
      <key>size</key>
      <string>{2048,4096}</string>
      <key>textureFileName</key>
      <string>Main City01.png</string>
    </dict>
    <key>frames</key>
    <dict>
      <key>Gemini_house_001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{723,443}</string>
        <key>spriteSourceSize</key>
        <string>{723,443}</string>
        <key>textureRect</key>
        <string>{{1,1},{723,443}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{578,407}</string>
        <key>spriteSourceSize</key>
        <string>{578,407}</string>
        <key>textureRect</key>
        <string>{{726,1},{578,407}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_003.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{594,410}</string>
        <key>spriteSourceSize</key>
        <string>{594,410}</string>
        <key>textureRect</key>
        <string>{{1306,1},{594,410}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_004.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{552,412}</string>
        <key>spriteSourceSize</key>
        <string>{552,412}</string>
        <key>textureRect</key>
        <string>{{726,410},{552,412}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_005.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{557,516}</string>
        <key>spriteSourceSize</key>
        <string>{557,516}</string>
        <key>textureRect</key>
        <string>{{1,446},{557,516}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_006.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{512,467}</string>
        <key>spriteSourceSize</key>
        <string>{512,467}</string>
        <key>textureRect</key>
        <string>{{1280,413},{512,467}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_007.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{484,412}</string>
        <key>spriteSourceSize</key>
        <string>{484,412}</string>
        <key>textureRect</key>
        <string>{{560,824},{484,412}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_008.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{425,451}</string>
        <key>spriteSourceSize</key>
        <string>{425,451}</string>
        <key>textureRect</key>
        <string>{{1,964},{425,451}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_009.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{437,467}</string>
        <key>spriteSourceSize</key>
        <string>{437,467}</string>
        <key>textureRect</key>
        <string>{{1046,882},{437,467}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_010.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{296,435}</string>
        <key>spriteSourceSize</key>
        <string>{296,435}</string>
        <key>textureRect</key>
        <string>{{1485,882},{296,435}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_022.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{123,166}</string>
        <key>spriteSourceSize</key>
        <string>{123,166}</string>
        <key>textureRect</key>
        <string>{{428,964},{123,166}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_023.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{121,166}</string>
        <key>spriteSourceSize</key>
        <string>{121,166}</string>
        <key>textureRect</key>
        <string>{{428,1132},{121,166}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_024.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{80,148}</string>
        <key>spriteSourceSize</key>
        <string>{80,148}</string>
        <key>textureRect</key>
        <string>{{1902,1},{80,148}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_025.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{97,121}</string>
        <key>spriteSourceSize</key>
        <string>{97,121}</string>
        <key>textureRect</key>
        <string>{{1902,151},{97,121}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_027.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{79,132}</string>
        <key>spriteSourceSize</key>
        <string>{79,132}</string>
        <key>textureRect</key>
        <string>{{1902,274},{79,132}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_030.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{91,95}</string>
        <key>spriteSourceSize</key>
        <string>{91,95}</string>
        <key>textureRect</key>
        <string>{{1902,408},{91,95}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_036.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{71,122}</string>
        <key>spriteSourceSize</key>
        <string>{71,122}</string>
        <key>textureRect</key>
        <string>{{1794,413},{71,122}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_037.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{81,150}</string>
        <key>spriteSourceSize</key>
        <string>{81,150}</string>
        <key>textureRect</key>
        <string>{{560,446},{81,150}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_038.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{71,120}</string>
        <key>spriteSourceSize</key>
        <string>{71,120}</string>
        <key>textureRect</key>
        <string>{{643,446},{71,120}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_039.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{139,164}</string>
        <key>spriteSourceSize</key>
        <string>{139,164}</string>
        <key>textureRect</key>
        <string>{{560,598},{139,164}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_040.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{81,150}</string>
        <key>spriteSourceSize</key>
        <string>{81,150}</string>
        <key>textureRect</key>
        <string>{{1867,505},{81,150}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_041.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{87,123}</string>
        <key>spriteSourceSize</key>
        <string>{87,123}</string>
        <key>textureRect</key>
        <string>{{1950,505},{87,123}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_043.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{139,165}</string>
        <key>spriteSourceSize</key>
        <string>{139,165}</string>
        <key>textureRect</key>
        <string>{{1794,657},{139,165}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_044.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{67,128}</string>
        <key>spriteSourceSize</key>
        <string>{67,128}</string>
        <key>textureRect</key>
        <string>{{1950,630},{67,128}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_062.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{105,77}</string>
        <key>spriteSourceSize</key>
        <string>{105,77}</string>
        <key>textureRect</key>
        <string>{{1935,760},{105,77}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_064.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{80,88}</string>
        <key>spriteSourceSize</key>
        <string>{80,88}</string>
        <key>textureRect</key>
        <string>{{1794,824},{80,88}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_066.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{122,137}</string>
        <key>spriteSourceSize</key>
        <string>{122,137}</string>
        <key>textureRect</key>
        <string>{{1876,839},{122,137}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_067.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{119,137}</string>
        <key>spriteSourceSize</key>
        <string>{119,137}</string>
        <key>textureRect</key>
        <string>{{1783,978},{119,137}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_068.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{61,110}</string>
        <key>spriteSourceSize</key>
        <string>{61,110}</string>
        <key>textureRect</key>
        <string>{{1984,1},{61,110}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house_069.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{60,102}</string>
        <key>spriteSourceSize</key>
        <string>{60,102}</string>
        <key>textureRect</key>
        <string>{{1983,274},{60,102}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house01_001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{531,398}</string>
        <key>spriteSourceSize</key>
        <string>{531,398}</string>
        <key>textureRect</key>
        <string>{{1485,1319},{531,398}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house01_002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{544,377}</string>
        <key>spriteSourceSize</key>
        <string>{544,377}</string>
        <key>textureRect</key>
        <string>{{428,1300},{544,377}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house01_003.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{523,419}</string>
        <key>spriteSourceSize</key>
        <string>{523,419}</string>
        <key>textureRect</key>
        <string>{{1,1679},{523,419}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house01_004.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{458,343}</string>
        <key>spriteSourceSize</key>
        <string>{458,343}</string>
        <key>textureRect</key>
        <string>{{974,1351},{458,343}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house01_005.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{378,276}</string>
        <key>spriteSourceSize</key>
        <string>{378,276}</string>
        <key>textureRect</key>
        <string>{{526,1679},{378,276}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house01_006.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{246,198}</string>
        <key>spriteSourceSize</key>
        <string>{246,198}</string>
        <key>textureRect</key>
        <string>{{1783,1117},{246,198}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house01_007.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{107,175}</string>
        <key>spriteSourceSize</key>
        <string>{107,175}</string>
        <key>textureRect</key>
        <string>{{1,1417},{107,175}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house01_008.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{104,190}</string>
        <key>spriteSourceSize</key>
        <string>{104,190}</string>
        <key>textureRect</key>
        <string>{{110,1417},{104,190}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house01_009.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{144,142}</string>
        <key>spriteSourceSize</key>
        <string>{144,142}</string>
        <key>textureRect</key>
        <string>{{216,1417},{144,142}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{681,400}</string>
        <key>spriteSourceSize</key>
        <string>{681,400}</string>
        <key>textureRect</key>
        <string>{{906,1719},{681,400}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{912,243}</string>
        <key>spriteSourceSize</key>
        <string>{912,243}</string>
        <key>textureRect</key>
        <string>{{1,2121},{912,243}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_003.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{523,539}</string>
        <key>spriteSourceSize</key>
        <string>{523,539}</string>
        <key>textureRect</key>
        <string>{{915,2121},{523,539}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_004.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{470,530}</string>
        <key>spriteSourceSize</key>
        <string>{470,530}</string>
        <key>textureRect</key>
        <string>{{1440,2121},{470,530}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_005.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{524,242}</string>
        <key>spriteSourceSize</key>
        <string>{524,242}</string>
        <key>textureRect</key>
        <string>{{1440,2653},{524,242}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_006.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{185,186}</string>
        <key>spriteSourceSize</key>
        <string>{185,186}</string>
        <key>textureRect</key>
        <string>{{1589,1719},{185,186}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_007.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{133,226}</string>
        <key>spriteSourceSize</key>
        <string>{133,226}</string>
        <key>textureRect</key>
        <string>{{1912,1719},{133,226}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_008.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{128,231}</string>
        <key>spriteSourceSize</key>
        <string>{128,231}</string>
        <key>textureRect</key>
        <string>{{1776,1719},{128,231}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_009.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,207}</string>
        <key>spriteSourceSize</key>
        <string>{130,207}</string>
        <key>textureRect</key>
        <string>{{1912,1947},{130,207}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_010.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{142,221}</string>
        <key>spriteSourceSize</key>
        <string>{142,221}</string>
        <key>textureRect</key>
        <string>{{1,2366},{142,221}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_011.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{131,181}</string>
        <key>spriteSourceSize</key>
        <string>{131,181}</string>
        <key>textureRect</key>
        <string>{{1912,2156},{131,181}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_012.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{176,156}</string>
        <key>spriteSourceSize</key>
        <string>{176,156}</string>
        <key>textureRect</key>
        <string>{{526,1957},{176,156}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_013.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{175,99}</string>
        <key>spriteSourceSize</key>
        <string>{175,99}</string>
        <key>textureRect</key>
        <string>{{1589,1907},{175,99}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_014.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{147,112}</string>
        <key>spriteSourceSize</key>
        <string>{147,112}</string>
        <key>textureRect</key>
        <string>{{216,1561},{147,112}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_015.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{126,181}</string>
        <key>spriteSourceSize</key>
        <string>{126,181}</string>
        <key>textureRect</key>
        <string>{{1912,2339},{126,181}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_016.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{220,70}</string>
        <key>spriteSourceSize</key>
        <string>{220,70}</string>
        <key>textureRect</key>
        <string>{{1589,2008},{220,70}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_017.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{128,171}</string>
        <key>spriteSourceSize</key>
        <string>{128,171}</string>
        <key>textureRect</key>
        <string>{{145,2366},{128,171}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_018.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{123,171}</string>
        <key>spriteSourceSize</key>
        <string>{123,171}</string>
        <key>textureRect</key>
        <string>{{275,2366},{123,171}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_019.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{96,182}</string>
        <key>spriteSourceSize</key>
        <string>{96,182}</string>
        <key>textureRect</key>
        <string>{{400,2366},{96,182}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_020.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{98,177}</string>
        <key>spriteSourceSize</key>
        <string>{98,177}</string>
        <key>textureRect</key>
        <string>{{145,2539},{98,177}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_021.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{100,152}</string>
        <key>spriteSourceSize</key>
        <string>{100,152}</string>
        <key>textureRect</key>
        <string>{{704,1957},{100,152}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_022.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{88,86}</string>
        <key>spriteSourceSize</key>
        <string>{88,86}</string>
        <key>textureRect</key>
        <string>{{806,1957},{88,86}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_house02_023.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{82,86}</string>
        <key>spriteSourceSize</key>
        <string>{82,86}</string>
        <key>textureRect</key>
        <string>{{1811,1952},{82,86}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_3b2nnw3b2nnw3b2n_001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{429,113}</string>
        <key>spriteSourceSize</key>
        <string>{429,113}</string>
        <key>textureRect</key>
        <string>{{245,2550},{429,113}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_3b2nnw3b2nnw3b2n_002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{233,301}</string>
        <key>spriteSourceSize</key>
        <string>{233,301}</string>
        <key>textureRect</key>
        <string>{{676,2366},{233,301}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_3b2nnw3b2nnw3b2n_003.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{206,177}</string>
        <key>spriteSourceSize</key>
        <string>{206,177}</string>
        <key>textureRect</key>
        <string>{{245,2665},{206,177}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_3b2nnw3b2nnw3b2n_004.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{266,133}</string>
        <key>spriteSourceSize</key>
        <string>{266,133}</string>
        <key>textureRect</key>
        <string>{{911,2662},{266,133}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_3b2nnw3b2nnw3b2n_005.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{175,177}</string>
        <key>spriteSourceSize</key>
        <string>{175,177}</string>
        <key>textureRect</key>
        <string>{{498,2366},{175,177}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_3b2nnw3b2nnw3b2n_006.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{190,297}</string>
        <key>spriteSourceSize</key>
        <string>{190,297}</string>
        <key>textureRect</key>
        <string>{{453,2665},{190,297}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_3b2nnw3b2nnw3b2n_007.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{177,156}</string>
        <key>spriteSourceSize</key>
        <string>{177,156}</string>
        <key>textureRect</key>
        <string>{{1,2718},{177,156}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_3b2nnw3b2nnw3b2n_008.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{204,142}</string>
        <key>spriteSourceSize</key>
        <string>{204,142}</string>
        <key>textureRect</key>
        <string>{{1179,2662},{204,142}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_3b2nnw3b2nnw3b2n_009.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{123,178}</string>
        <key>spriteSourceSize</key>
        <string>{123,178}</string>
        <key>textureRect</key>
        <string>{{645,2669},{123,178}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_3b2nnw3b2nnw3b2n_010.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{122,177}</string>
        <key>spriteSourceSize</key>
        <string>{122,177}</string>
        <key>textureRect</key>
        <string>{{770,2669},{122,177}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_3b2nnw3b2nnw3b2n_011.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{134,156}</string>
        <key>spriteSourceSize</key>
        <string>{134,156}</string>
        <key>textureRect</key>
        <string>{{180,2844},{134,156}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_3b2nnw3b2nnw3b2n_012.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{140,155}</string>
        <key>spriteSourceSize</key>
        <string>{140,155}</string>
        <key>textureRect</key>
        <string>{{1,2876},{140,155}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_3b2nnw3b2nnw3b2n_013.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{164,126}</string>
        <key>spriteSourceSize</key>
        <string>{164,126}</string>
        <key>textureRect</key>
        <string>{{894,2797},{164,126}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_p4mfffp4mfffp4mf_001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{112,104}</string>
        <key>spriteSourceSize</key>
        <string>{112,104}</string>
        <key>textureRect</key>
        <string>{{1,2589},{112,104}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_p4mfffp4mfffp4mf_002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{90,161}</string>
        <key>spriteSourceSize</key>
        <string>{90,161}</string>
        <key>textureRect</key>
        <string>{{1,3033},{90,161}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_p4mfffp4mfffp4mf_003.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{123,154}</string>
        <key>spriteSourceSize</key>
        <string>{123,154}</string>
        <key>textureRect</key>
        <string>{{143,3002},{123,154}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_p4mfffp4mfffp4mf_004.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{106,110}</string>
        <key>spriteSourceSize</key>
        <string>{106,110}</string>
        <key>textureRect</key>
        <string>{{316,2844},{106,110}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_p4mfffp4mfffp4mf_005.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{102,111}</string>
        <key>spriteSourceSize</key>
        <string>{102,111}</string>
        <key>textureRect</key>
        <string>{{1060,2797},{102,111}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_p4mfffp4mfffp4mf_006.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{100,104}</string>
        <key>spriteSourceSize</key>
        <string>{100,104}</string>
        <key>textureRect</key>
        <string>{{523,2964},{100,104}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Gemini_Generated_Image_p4mfffp4mfffp4mf_007.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{104,94}</string>
        <key>spriteSourceSize</key>
        <string>{104,94}</string>
        <key>textureRect</key>
        <string>{{1912,2522},{104,94}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
  </dict>
</plist>